$purple: #42005c;
$lightPurple: rgb(244, 206, 255);
$yellow: #e29300;

.app{
    display: flex;
    justify-content: center;
    .container{
        width: 1024px;
        .link{
            text-decoration: none;
            color: inherit;
        }
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $purple;
            height: 100vh;
            
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 20rem;
            padding: 2rem;
            color: white;
            text-align: center;
        }

        input{
            padding: 0.5rem;
            border-radius: 10px;
        }
        h1{
            color: $lightPurple;
            font-size: 1.5rem;
        }

        button{
            background-color: $yellow ;
            border: none;
            border-radius: 10px;
            font-size: 1rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            margin-top: 0.5rem;
            font-weight: 700;
            cursor: pointer;
        }
        p{
            color: red;
        }
        
        
        // Navbar
        .navbar{
            .container{
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    img{
                        width: 5rem;
                    }
                }
                .links{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    h6{
                        font-size: 1rem;
                        font-weight: 300;
                    }
                    span{
                        cursor: pointer;
                    }
                    .write{
                        background-color: #e29300;
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover{
                            width: 4rem;
                            height: 4rem;
                            background-color: #ffffff;
                            color: #e29300 ;
                            border: 1px solid #e29300;
                        }
                    }
                    
                }
            }   
        }

        // footer
        footer{
            background-color: $lightPurple;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            padding: 20px;
            img{
                height: 4rem;
            }
        }

        // home page
        .home{
            display: flex;
            justify-content: center;
            margin-top: 35px;
            .posts{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 150px;

            }

            .post{
                display: flex;
                gap: 100px;

                &:nth-child(2n+1){
                    flex-direction: row-reverse;
                }
            }

            .img{
                flex: 2;
                position: relative;
                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: #42005c;
                    position: absolute;
                    top: 20px;
                    left: -20px;
                    z-index: -1;
                }
            }
            .img img{
                width: 30rem;
                height: 30rem;
                object-fit: cover;
            }
            .content{
                flex: 3;
                width: 35rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h1{
                    font-size: 48px;
                    color: $purple;
                }
                p{
                    font-size: 18px;
                    color: black;
                }
                button{
                    width: max-content;
                    padding: 10px 20px;
                    cursor: pointer;
                    border: 1px solid white;

                    &:hover{
                        border: 1px solid white;
                        background-color: $lightPurple;
                    }
                }
            }
        }


        // SINGLE PAGE
        .single{
            display: flex;
            gap: 8rem;   
            justify-content: center;
            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            .user{
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 14px;
                margin-top: 1rem;
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                span{
                    font-weight: bold;
                }
                .edit{
                    display: flex;
                    gap: 5px;
                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                    }
                }
            }
            h1{
                color: $purple;
                font-size: 3.5rem;
            }
            p{
                color: black;
                text-align: justify;
                line-height: 30px;
            }
        

        .menu {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            h1{
                font-size: 1.5rem;
                color: $purple;
            }
            .post{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            img{
                width: 100%;
                height: 200px;
                object-fit:cover ;
            }

            button{
                width: max-content;
                padding: 10px 20px;
                cursor: pointer;
                border: 1px solid white;

                &:hover{
                    border: 1px solid white;
                    background-color: $lightPurple;
                }
            }
        }
        }


        // WRITE
        .add{
            margin-top: 20px;
            display: flex;
            gap: 20px;
            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input{
                    padding: 10px;
                    border: 1px solid lightgray;
                }
                .editorContainer{
                    height: 300px;
                    overflow: scroll;
                }

                .editor{
                    height: 100%;
                    border: none;
                }
                button {
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                }
                
                p{
                    color: black;
                }
            }
            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    h1{
                        color: $purple;
                        margin: 0;
                        font-size: 20px;
                    }
                    .file{
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons{
                        display: flex;
                        justify-content: space-between;

                        :first-child{
                            cursor: pointer;
                            background-color: $purple;
                            color: white;
                            padding: 8px 8px;
                        }

                        :last-child{
                            cursor: pointer;
                            background-color: $yellow;
                            border: 1px solid white;
                            padding: 8px 8px;
                        }
                    }

                    .cat{
                        display: flex; 
                        align-items: center;
                        gap: 2px;
                    }
                }
            }
        }
    }
}